<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/bands">Bands</a></li>
        <li role="presentation"><a href="/venues">Venues</a></li>
      </ul>
    </nav>
  </div>
  <div class="jumbotron">
    <h2>Band Tracker</h2>
    <p>A websited intended for being able to add, update, delete and list bands and venues</p>
  </div>
</div>
