<h1>All venues</h1>

<ul>
  #foreach ($venue in $venues)
    <li><a href="/venues/$venue.getId()">$venue.getDescription()</a></li>
  #end
</ul>

<p>Add a new venue:</p>

<form action="/venues" method="post">
  <label for="description">Venue description</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-success">Add Venue</button>
</form>

<p><a href="/">Home</a></p>
